.container {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.item-image{
  width: 100%;
}

.item-p{
  color:black;
}

.item-result{
  align-self: center;
  width: 80%;
  min-height: 2em;
  background-color: rgba(39, 37, 182, 0.226);
  padding: 1em;
  margin-top: 1.4em;
  border-radius: 10px;
}

.item-list {
  display: flex;
  justify-content: center;
  width: 85%;
  min-height: auto;
  max-height: 20em;
  margin: auto;
  overflow-y: scroll;
  border-radius: 10px;
  background: rgba(214, 225, 255, 0.27);
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.item-list-container{
  display:flex;
  flex-wrap: wrap;
  width: 96%;
  font-size: 0.8em;
}

.item-button {
  width: 5em;
  height: 5em;
  padding: 8px;
  margin: 8px;
  border-radius: 14px;
  border: none;
  font-family: 'Alata', sans-serif;
  position: relative;
}

.boxs{
  display: flex;
  justify-content: space-around;
  margin: 6em auto 0em;
  gap: 1.5em
}

.selected-items {
  display: flex;
  gap: 0.4em;
  position: relative;
  flex-direction: column;
  /* padding: 8px; */
  margin: 8px;
  width: 9em;
  height: 9em;
  /* background: rgb(227,215,106);
  background: radial-gradient(circle, rgba(227,215,106,1) 0%, rgba(193,183,85,1) 100%); */
  /* border-radius: 50%; */
}

.selected-items::after{
  content:"";
  display: block;
  height: 7em;
  width: 17em;
  border-radius: 50%;
  position: absolute;
  bottom: -6em;
  left: -4em;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0.24390243902439024) 0%, rgba(96,96,96,0) 41%, rgba(220,220,220,0) 67%, rgba(234,234,234,0) 82%, rgba(255,255,255,0) 100%);
  z-index: -2;
  transform: rotateX(80deg);
}

.item-infos{
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  gap: 2px;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  top: -0.8em;
  right: -0.8em;
  border: none;
  border-radius: 50%;
  background: rgba(84, 129, 244, 0.79);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  width: 2em;
  height: 2em;
  z-index: 3;
}

.infos-off{
  visibility: hidden;
}

.infos-on{
  position: absolute;
  text-align: center;
  top: -0.7em;
  right: -0.7em;
  border-radius: 1em;
  width: 10em;
  height: 9.5em;
  padding: 2.5em 0.5em;
  color: rgb(240, 240, 240);
  background: rgba(84, 129, 244, 0.79);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(84, 129, 244, 0.27);
  -webkit-animation: scale-in-tr 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-tr 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.infos-on p{
  font-size: 1.3em;
  line-height: 1.2em;
}

.info-draw{
  background-color: white;
  width: 2px;
  height: 10px;
}

.info-draw--on{
  background-color: white;
  width: 2px;
  position: absolute;
  top: 2;
  height: 14px;
  transform: rotate(-40deg);
  transition: all 0.4s;
}

.info-draw-dot{
  background-color: white;
  width: 2px;
  height: 2px;
}

.info-draw-dot--on{
  background-color: white;
  width: 2px;
  height: 14px;
  position: absolute;
  top: 2;
  transform: rotate(40deg);
  transition: all 0.4s;
}

.selected-items-image{
  width: 9em;
}

.selected-items-title{
  color:white
}

.clear-container{
  margin: 1em auto;
  width: 5em;
  height: 2.5em;
}

p{
  color: white;
}

.counter{
  position:absolute;
  top:3px;
  right:3px;
  width:20px;
  height:20px;
  border-radius:50%;
  background-color:#5481F4;
  color:white;
  text-align:center;
  font-size:12px;
  line-height:20px;
}

@-webkit-keyframes scale-in-tr {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-tr {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}

@-webkit-keyframes scale-out-tr {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-out-tr {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}
